<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:; script-src 'self' ; style-src 'self' 'unsafe-inline'">
    <meta name="referrer" content="same-origin" />
    <!-- <meta http-equiv="Content-Security-Policys content="img-src 'self' data:; default-src 'self' https://ltn.hitomi.la/"> -->
    <link href="./styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <div class=""></div>
  </head>
  <body>

    <div class="container"></div>
    <!-- You can also require other files to run in this process -->
    <script defer src="./renderer.js"></script>
  </body>
</html>